*{
    margin: 3px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /* background-color:rgba(255, 255, 255, 0.708);*/
    
}
body{
    
    background-image: url(https://img.freepik.com/vector-gratisfondo-colorido-modelo-huellas-pata-perro-o-gato_1017-30662.jpg?w=2000);
}
url{
    opacity: -20;
}
.fondo{
    background-color:rgba(255, 251, 252, 0.84);
    
}

h1{
    color: rgba(240, 23, 171);
    text-align: center;
    padding: 10px 0px;
}
/*h1,p{
    background-color: rgba(255, 255, 255, 0.804);
    padding-top: 5px;

}*/
/*nav{
    background-color: rgb(235, 234, 234) ;
    padding: 10px 0px;
    text-align: center;
}*/

nav{
    background-color: rgb(53, 45, 214);
    padding: 10px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
}
nav a{
    color: white;
    text-decoration:none;

    text-shadow: rgb(27, 24, 25) 5px 2px 4px;
}
a:hover{
    color:white;
    background-color: rgba(240, 23, 171);
    /*padding: 5px;*/
    border-radius: 3px;
    
}
table{
    border: rgba(240, 23, 171, 0.856) solid 5px;
}
th,td{
    border: rgba(53, 45, 214, 0.854) solid 2px;
}
#mision{
    color: rgba(53, 45, 214, 0.854);
    padding: 2px;
    text-align: justify;
}
#vision{
    color: rgba(240, 23, 171, 0.856) ;
    padding: 2px;
    text-align: justify;
}
fieldset{
    background-color: rgb(201, 200, 200);
    padding: 0px;
    margin: 0;
}
footer{
    text-align: center;
    background-color: rgb(235, 234, 234);
    padding: 0 !important;
    margin: 0 -10px !important;  
}
/*Télefono
    .grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "navbar"
    "horario"
    "mapa"
    "formulario"
    "footer"
    ;
}*/
    
/*Para tablet*/
@media(min-width: 600px)
{
    .grid-container{
        grid-template-columns: 200px auto ;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "navbar"
        "horario"
        "mapa"
        "formulario"
        "footer";
    }
}
  /*Escritorio*/
  @media(min-width:900px){
    .grid-container{
        grid-template-columns: 200px auto ;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "navbar navbar navbar"
        "horario horario horario"
        "mapa mapa mapa"
        "footer footer footer"
        ;
    }
}
